################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ObrasGSC/GSCObras.UI.Web/appsettings.json
