
@{
    ViewData["Title"] = "Medição Encerrar";
}

<h1>Medição Encerrar</h1>
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="MedicaoEncerrar">
<button>Encerrar</button>

<p></p>

<div>Teste gerado, a cada 15 minutos o Logic App executa o fluxo para envio de notificações</div>

</form>